<div class="md-copyright">
    <span>
        Documentation by
        <a href="https://nixware.cc/members/66717/" target="_blank" rel="noopener" class="glow-link" style="padding: 0 4px;">
            <img src="https://avatars.githubusercontent.com/u/46263989" alt="sleebu avatar" style="transform: translate(0, 20%); height: 1em; border-radius: 100%" /> 
            sleebu
        </a>
    </span>
    <a href="https://github.com/Nixer1337/nixware-cs2-docs" class="github-last-updated">
        <img alt="GitHub last commit (branch)" height="28px" src="https://api.allorigins.win/raw?url=https://img.shields.io/github/last-commit/Nixer1337/nixware-cs2-docs/main?style=for-the-badge&logo=github&label=updated&labelColor=%2300000000&color=%2328344480">
    </a>
</div>